@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:wght@200;300;400;500;600;700&display=swap');

.unordered-l
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-size: 13px;
}
.error-state
{
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
}
.p-state
{
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
}