:root
{
    --bg-black-900:#F2F2FC;
    --bg-black-100:#FDF9FF;
    --bg-black-50:#E8DFEC;
    --text-black-900:#302E4D;
    --text-black-700:#504E70;
    --skin-color:#e24718;
}
body
{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.fcontainer
{
	color: 504E70;
    padding-left: 270px;
	
}
.title
{
    background: var(--skin-color);
    font-family: 'Bungee', cursive;
	font-weight: 100px;
	position: relative;
	text-align:center;
	padding-bottom:20px;
	padding-top:20px;
	font-size: 20px;
	border-radius: 10px;
}
.title p 
{
	color: #FFFFFF;
}
