@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root
{
    --bg-black-900:#F2F2FC;
    --bg-black-100:#FDF9FF;
    --bg-black-50:#E8DFEC;
    --text-black-900:#302E4D;
    --text-black-700:#504E70;
    --skin-color:#e24718;
}
body 
{
	background-color: #F2F2FC;
}
body h2
{
	background-color: #e24718;
	font-weight: 200px;
	position: relative;
	text-align:center;
	padding-bottom:20px;
	padding-top:20px;
	font-size: 20px;;
	color: #FFFFFF;
	font-family: 'Bungee', cursive;
}
body h3
{
	padding-left: 25px;
}
body p
{
	padding-left:30px;
}
.main 
{
	padding-left:30px;
}